{
    "PORT" : ,
    "NODE_ENV": ["dev"|"prod"],
    "DB": {
        "HOST": ,
        "PORT": ,
        "NAME": ,
        "USER": ,
        "PASSWORD": ,
        "USE_SSL":
    },
    "STATIC_DIR": "d:/code/olymplan/public",
    "EMAIL": {
        "PROVIDER": ["Yandex"|"Gmail"],
        "LOGIN": ,
        "PASSWORD": ,
        "FULL_ADDRESS"
    }
}
