
body {
    margin: 0px;
    background: url("/st/img/bg-math-regata.jpg");
    background-size: cover;
    font-family: 'Scada';
}

.btn__material {
    background-color: #888;
    border: 0px;
    border-bottom: 5px solid #555;
    padding: 10px;
    color: white;
}

.btn__twitter {
    background-color: white;
    border: 1px solid #222;
    color: #222;
    padding: 10px;
    border-radius: 5px;
}
