.navbar a {
  color: white;
}

.header {
  margin: 35px 25px 25px 50px;
  color: white;
}

.list {
  float: left;
  display: inline-block;
  margin: 25px 0 25px 50px;
  width: 30%;
  font-size: 24px;
}

.footer {
  bottom: 0;
  position: fixed;
}

a {
  color: black;
}

.list a:hover  {
  text-decoration: none;
}

.wrapper {
  height: 150px;
  background: linear-gradient(to top, #FF1509, #8E09FF);
}
