<style>
div.editable {
    font-size: 14pt;
    font-family: sans-serif;
    padding: 15px;
    margin: 15px;
    width: 90 vw;
    border: 1px solid #ddd;
}

div#title {
    font-weight: bold;
}

div#body {
    height: 90 vh;
}
</style>

<div contenteditable="true" id="title" class="editable">Здесь будет заголовок</div>
<div contenteditable="true" id="body" class="editable">А здесь тело поста</div>
