<style>
    h1 p {
        margin: 0 0 10px;
    }

    body {
        margin: 0;
        background: url("/st/img/bg-math-regata-compressor.jpg");
        background-size: cover;
        font-family: 'Scada', sans-serif;
        color: white;
    }

    .btn__material {
        background-color: transparent;
        border-radius: 5px;
        padding: 10px;
        color: white;
        font-size: 13pt;
        text-align: center;
        padding: 10px 15px;
        margin-right: 10px;
    }

    .btn__twitter {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        padding: 10px;
        border-radius: 8px;
    }

    .btn__material__orange {
        background-color: #FF1509;
        color: white;
    }

    .btn__material__transparent {
        border: white 1px solid;
    }

    .cnt__material {
        /*border-radius: 5px;
        box-shadow: 0 0 3px 1px rgba(0,0,0,0.05), 1px 1px 3px 1px rgba(0,0,0,0.1);*/
        background-color: transparent;
    }

    /*.navbar * {
        display: flex;
    } */

    .-material-shadow {
        box-shadow: 0 0 3px 1px rgba(0,0,0,0.05), 1px 1px 3px 1px rgba(0,0,0,0.1);
    }

    .column {
        margin: 0 auto;
        width: 100%;
        max-width: 650px;
    }

    .trial {
        position: relative;
        margin-top: 20%;
        margin-bottom: 30%;
    }

    .advert_text h1 {
        font-weight: bold;
        font-size: 26px;
        font-family: 'Open Sans', sans-serif;
    }

    .trial a {
        text-decoration: none;
        color: black;
    }

    .btn-wrap {
        display: flex;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .advert_text p {
        font-family: 'Scada';
        font-size: 18px;
    }

    .navbar {
        height: 50px;
        width: 100vw;
        background-color: transparent;

        position: fixed;
        text-align: center;
        display: block;
        z-index: 2;
    }

    .icon {
        width: 8%;
        height: 50px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        fill: white;
    }

    .navbar #buttons_nav {
        display: inline-block;
        position: relative;
        text-align: center;
        float: left;
    }

    .navbar li {
        display: inline-table;
        padding: 0 70px 0 0;
        font-size: 17px;
    }

    .navbar a {
        text-decoration: none;
        color: white;
        text-transform: none;
    }

    .navbar a:hover {
        text-decoration: underline;
    }

    .footer {
      /*background-color: transparent;*/
      background-color: white;
      display: block;
      margin-left: auto;
      margin-right: auto;

      width: 100%;
      height: 50px;
      border-top: 1px white solid;
      margin-bottom: 0;
    }

    .footer ul {
      text-align: center;
      max-height: 50px;
      margin: 15px auto 0 auto;
    }

    .footer li {
      display: inline-table;
      margin-right: 15px;
      padding-right: 50px;
      font-size: 17px;
      color: black;
    }

    .footer a {
      text-decoration: none;
      /*color: white; */
      color: black;
    }

    .footer a:hover {
      text-decoration: underline;
    }

    .wrapper {
      min-height: 100%;
      margin: 0 auto -52px;
      display: block;
    }

    .push {
      height: 15px;
      display: block;
    }

    .page {
      width: 100%;
      height: 620px;

    }

    .opening_text {
      width: 100%;
      height: 600px;
      background-color: white;
      margin-left: auto;
      margin-right: auto;
      color: black;
      padding-top: 15px;
    }

    .opening_text p {
      margin-left: 35px;
      margin-right: 35px;
    }
</style>
<div class="wrapper">
<div class="navbar">
    <div class="icon">
        <!-- <a href="/"><img src="/st/img/logo_v0-0-1.svg"></a> -->
    </div>
    <!-- <ul id="buttons_nav">
        <li>
            <a href="/olymp">Олимпиады</a>
        </li>
        <li>
            <a href="/univ">Вузы</a>
        </li>
        <li>
            <a href="/calend">Календарь</a>
        </li>
    </ul> -->
</div>
<div style="opacity:0; height:50px;">this must be invisible</div>
<div class="column">
    <div class="trial cnt__material">
        <div class="advert_text">
            <h1>
                <b>Олимпиады — штука сложная.</b>
            </h1>
            <p>Нужно не только хорошо их написать, но еще и найти те, что больше всего тебе подойдут. Более того, на олимпиаду нужно еще и успеть вовремя зарегистрироваться и прийти в нужное место с нужными документами. Некоторые составляют себе расписание,
                пришпиливают его к стенке и вскоре о нем забывают. Наш инструмент использует полную базу данных по олимпиадам и собственный опыт создателей и предоставляет возможность быстро составить план и получать по нему уведомления.
            </p>
        </div>
        <div class="btn-wrap">
            <a href="/register">
                <div class="btn__material btn__material__orange -material-shadow" class="register">
                    Зарегистрироваться
                </div>
            </a>
            <a href="/timetable_trial">
                <div class="btn__material btn__material__transparent" class="timetable">
                    Составить свое расписание!
                </div>
            </a>
        </div>
    </div>
</div>
<div class="push"></div>
<div class="page">
    <div class="opening_text -material-shadow">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>

</div>
<div class="footer">
    <ul>
        <li>
            <a href="/about">О нас</a>
        </li>
        <li>
            ©OLYMPLAN 2k16.
        </li>
    </ul>
</div>
