<% for(var i = 0; i < data.length; i++) { %>
    <div>
        <a href="/blog/<%= data[i].id %>"><h1><%= data[i].title %></h1></a>
        <p><%= data[i].body %></p>
        <h4><%= data[i].author %></h4>
    </div>
<% } %>
