<!DOCTYPE html>
<head>
    <title>Все события - Олимплан</title>
    <link href="https://fonts.googleapis.com/css?family=Scada" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta charset="utf-8">
    <link href="/st/css/event_list.css" rel="stylesheet" type="text/css" />
    <link href="/st/css/basic_ui.css" rel="stylesheet" type="text/css" />
    <script src="/st/js/jquery-3.1.0.js"></script>
    <script src="/st/js/check_login.js"></script>
</head>
<div class="wrapper">
<div class="navbar">
  <div class="nav_content">
    <div class="icon">
           <!-- <a href="/"><img src="/st/img/logo_v0-0-1.svg"></a> -->
    </div>
    <ul id="buttons_nav">
      <li>
        <a href="/olymp">Олимпиады</a>
      </li>
      <li>
        <a href="/calend">Календарь</a>
      </li>
    </ul>
  </div>
</div>
<div style="opacity:0; height:50px;">this must be invisible</div>
<div class="header">
  <h1>Все олимпиады</h1>
</div>

<!-- @FIXME: move to separate file -->
<style>
.-is-hidden {
    display: none!important;
}
</style>
<script>
$(document).ready(function() {
    $("input[name=subject]").change(function(event) {
        var class_to_modify = ".-js-subject-" + $(this).val();
        console.log(class_to_modify);
        $(class_to_modify).toggleClass("-is-hidden");
        console.log($(class_to_modify));
    });
});
</script>
<!--                               -->

<div class="filter_bar">
    <input type="checkbox" name="subject" value="physics" checked>физика
    <input type="checkbox" name="subject" value="math" checked>математика
</div>
<div class="list">
<% for (var i in event_list) { %>
    <a href="/events/<%= event_list[i].id %>" style="display:block;" class="-js-subject-<%= event_list[i].subject_en %>"><%= event_list[i].name %></a>
<% } %>
</div>
</div>
<div class="footer">
    <ul>
        <li>
            <a href="/about">О нас</a>
        </li>
        <li>
            ©OLYMPLAN 2k16.
        </li>
    </ul>
</div>
