<%- include blocks/scripts %>

<h1>Login required!</h1>

<input name="login" type="text" id="login_input" />
<input name="password" type="password" id="password_input"/>
<input type="submit" value="login!" id="sumbit_login_btn" onclick="submit_login();"/>
