<script src="/st/js/react.js"></script>
<script src="/st/js/react-dom.js"></script>
<script src="/st/js/jquery-3.1.0.js"></script>
<script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
<script type="text/babel" src="/st/js/react/trial.jsx"></script>
<script type="text/babel">

</script>

<div id="trial"></div>
