<script src="/st/js/react.js"></script>
<script src="/st/js/react-dom.js"></script>
<script src="/st/js/jquery-3.1.0.js"></script>
<script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
<!--
<script type="text/babel" src="/st/js/react/trial.jsx"></script>
<script type="text/babel">

</script>
<div id="trial"></div>
-->

<form method="post" action="#">
    <input placeholder="Type Recepient" value="sokolov-as-i+test@yandex.ru" name="address"></input>
    <input placeholder="Type Subject" name="subj"></input>
    <textarea label="message" placeholder="Type your message" name="msg"></textarea>
    <button type="submit">Hi</button>
</form>
