<!DOCTYPE html>
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Scada" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta charset="utf-8">
    <link href="/st/css/register_login.css" rel="stylesheet" type="text/css" />
    <link href="/st/css/basic_ui.css" rel="stylesheet" type="text/css" />
    <script src="/st/js/jquery-3.1.0.js"></script>
    <script src="/st/js/check_login.js"></script>
</head>
<script src="/st/js/register.js"></script>

<style>
    input {
        display: block;
    }
</style>
<div class="wrapper">
  <div class="navbar">
    <div class="nav_content">
      <div class="icon">
             <!-- <a href="/"><img src="/st/img/logo_v0-0-1.svg"></a> -->
      </div>
    </div>
  </div>
<div class="header">
  <h1>Login required!</h1>
</div>

<div class="input_fields">
    <div id="#err_wrong_pair" class="msg_box msg_box--err msg_box--disabled">Неверный логин/пароль!</div>
  <input name="login" type="text" id="login_input" placeholder="Логин" />
  <input name="password" type="password" id="password_input" placeholder="Пароль" />
  <input type="submit" value="login!" id="sumbit_login_btn" onclick="submit_login();"/>
</div>
</div>

<div class="footer">
    <ul>
        <li>
            <a href="/about">О нас</a>
        </li>
        <li>
            ©OLYMPLAN 2k16.
        </li>
    </ul>
</div>
