<!DOCTYPE html>
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Scada" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta charset="utf-8">
    <link href="/st/css/register_login.css" rel="stylesheet" type="text/css" />
    <link href="/st/css/basic_ui.css" rel="stylesheet" type="text/css" />
    <script src="/st/js/jquery-3.1.0.js"></script>
    <script src="/st/js/check_login.js"></script>
</head>
<script src="/st/js/register.js"></script>

<style>
    input {
        display: block;
    }
</style>
<div class="wrapper">
  <div class="navbar">
    <div class="nav_content">
      <div class="icon">
             <!-- <a href="/"><img src="/st/img/logo_v0-0-1.svg"></a> -->
      </div>
    </div>
  </div>
<div class="header">
  <h1>$регистрация</h1>
</div>
<div class="input_fields">
  <div class="msg_box msg_box--err msg_box--disabled" id="err_login_occupied">Логин занят!</div>
  <div class="msg_box msg_box--err msg_box--disabled" id="err_login_forbd_symb">Плохие символы в логине</div>
  <div class="msg_box msg_box--wait msg_box--disabled" id="wait_login_check">Проверяем логин...</div>
  <div class="msg_box msg_box--suc msg_box--disabled" id="suc_login">Логин подходит!</div>
  <input name="login" type="text" id="login_input" placeholder="Логин"/>

  <div class="msg_box msg_box--err msg_box--disabled" id="err_email_not_valid">Ошибка в адресе почты!</div>
  <div class="msg_box msg_box--suc msg_box--disabled" id="suc_email">Почта подходит!</div>
  <input name="email" type="text" id="email_input" placeholder="Электронная почта"/>

  <div class="msg_box msg_box--err msg_box--disabled" id="err_passwrd_forbd_symb">Плохие символы в пароле!</div>
  <div class="msg_box msg_box--err msg_box--disabled" id="err_passwrd_too_weak">Слишком простой пароль!</div>
  <div class="msg_box msg_box--suc msg_box--disabled" id="suc_passwrd">Норм пароль</div>
  <input name="password1" type="password" id="password_input_1" placeholder="Пароль"/>

  <div class="msg_box msg_box--err msg_box--disabled" id="err_passwrd2_no_match">Пароли не совпадают!</div>
  <div class="msg_box msg_box--suc msg_box--disabled" id="suc_passwrd2">Все огонь! &#9749;</div>
  <input name="password2" type="password" id="password_input_2" placeholder="Пароль еще раз"/>
</div>
  <input type="submit" value="login!" id="submit_login_btn" onclick="submitRegData();"/>
</div>
<div class="footer">
    <ul>
        <li>
            <a href="/about">О нас</a>
        </li>
        <li>
            ©OLYMPLAN 2k16.
        </li>
    </ul>
</div>
