<%- include ../blocks/head %>

<script src="/st/js/register.js"></script>

<style>
    input {
        display: block;
    }
</style>

<h1>Register</h1>

<input name="login" type="text" id="login_input" placeholder="Логин"/>
<input name="email" type="text" id="email_input" placeholder="Электронная почта"/>
<input name="password1" type="password" id="password_input_1" placeholder="Пароль"/>
<input name="password2" type="password" id="password_input_2" placeholder="Пароль еще раз"/>
<input type="submit" value="login!" id="sumbit_login_btn" onclick="submitRegData();"/>
